.todo-item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list-item-completed {
  text-decoration: line-through;
}

.todo-list-item-delete-button {
  border-radius: 0.25rem;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
  color: white;
  border: none;
}

.todo-list-item-delete-button svg:hover {
  fill: rgba(255, 255, 255, 0.7);
  stroke: rgba(255, 255, 255, 0.7);
}

.todo-list-item-delete-button:hover {
  color: rgba(255, 255, 255, 0.1);
}

.todo-item .subtitle {
  color: gray;
  font-size: 10pt;
}